.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img {
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
}
.slider button{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: beige;
    border: none;
    cursor: pointer;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Cute+Font&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #d3e1ac;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;
}
.home {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.nav-bar a {
    font-size: 32px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}
.home:hover {
    text-decoration: underline;
}
.nav-bar:hover {
    text-decoration: underline;
}
.title {
    font-family: "Atkinson Hyperligible Mono", sans-serif;
    background-color: #d3e1ac;
    color: black;
    font-weight: bold;
}
.dates {
    font-family: "Atkinson Hyperligible Mono", sans-serif;
    background-color: #d3e1ac;
    font-weight: 400;
}


